<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal_user/base :: layout(~{::section})">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User, setting!</title>
</head>
<body>
	<section>
		<div class="container d-flex justify-content-center align-items-start vh-100 mt-2">
        <div id="setting_page" class="my-card" style="width: 100%; max-width: 700px;">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Change Password</h5>
                
                 <!-- Session error handler -->
                  <div th:if="${session.message}" class="container text-center">
                       <div th:classappend="${session.message.type}" class="alert" role="alert">
                           <span th:text="${session.message.content}"></span>
                       </div>
                           <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
                 </div>
                
                <form th:action="@{/setting/user_setting_form}" method="POST">
                    <div class="mb-3">
                        <label for="current-password" class="form-label">Current Password</label>
                        <input type="password" class="form-control only_form" id="current-password" placeholder="Enter Current Password" name="current_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="new-password" class="form-label">New Password</label>
                        <input type="password" class="form-control only_form" id="new-password" placeholder="Enter New Password" name="new_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control only_form" id="confirm-password" placeholder="Enter Confirm New Password" name="confirm_new_password" required>
                    </div>
                    <div class="d-grid me-3">
                        <button type="submit" class="btn btn-primary ">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>

