<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="normal_user/base :: layout(~{::section})">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello, about!</title>
</head>
<body>
<section>
    <div style="background: #ffffff" class="card container-fluid p-3">
        <!-- Http Session Error Handler -->
        <div th:if="${session.message}" class="container text-center p-3">
            <div th:classappend="${session.message.type}"
                 class="alert alert-success" role="alert">
                <span th:text="${session.message.content}"></span>
            </div>
            <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
        </div>

        <h2 class="text-center pt-4">Your Contact Details</h2>

        <!-- Make Table Responsive -->
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">#Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c:${contacts}">
                    <th scope="row" th:text="'SCM2025-' + ${c.cId}">1</th>
                    <td>
                        <img class="my_profile_picture img-fluid rounded-circle" 
                             alt="profile photo" th:src="@{'/image/'+${c.image}}" width="40" height="40">
                        <span th:text="${c.name}" class="ms-2"></span>
                    </td>
                    <td>
                        <a th:text="${c.email}" th:href="@{/user/contact_detail/}+${c.cId}"></a>
                    </td>
                    <td th:text="${c.phone}">Mark</td>
                    <td>
                        <button th:onclick="|deleteContact(${c.cId})|"
                                class="btn btn-danger btn-sm fw-bold" type="button">
                            Delete
                        </button>
                        <button class="btn btn-primary btn-sm fw-bold" type="button"
                                th:onclick="|updateContact(${c.cId})|">
                            Update
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pb-2">
                <li th:if="${currentPage != 0}" class="page-item">
                    <a class="page-link" th:href="@{'/user/view_contact/'+${currentPage - 1}}">Previous</a>
                </li>

                <li th:each="i:${#numbers.sequence(1,totalPages)}"
                    th:classappend="${currentPage==i-1 ? 'active' : ''}"
                    class="page-item">
                    <a class="page-link" th:href="@{'/user/view_contact/'+${i-1}}">
                        <span th:text="${i}"></span>
                    </a>
                </li>

                <li th:if="${currentPage + 1 != totalPages}" class="page-item">
                    <a class="page-link" th:href="@{'/user/view_contact/'+${currentPage + 1}}">Next</a>
                </li>
            </ul>
        </nav>

    </div>
</section>
</body>
</html>
