
<!-- Footer -->
<footer class="bg-primary text-white text-center py-4">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>About Us</h4>
				<p class="fs-5 text-white">Smart Contact Manager helps you
					organize and secure your contacts efficiently.</p>
			</div>
			<div class="col-md-4">
				<h4>Quick Links</h4>
				<div class="footer-links">
					<a href="#" th:href="@{/}" class="fs-5"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
					<a href="#" th:href="@{/signup}" class="fs-5"><i class="fa fa-address-book" aria-hidden="true"></i> Contacts</a> 
				</div>
			</div>
			<div class="col-md-4">
				<h4>Contact Us</h4>
				<p class="text-white fs-5">
					<i class="fa fa-envelope" aria-hidden="true"></i> Email:
					support@smartcontact.com
				</p>
				<p class="text-white fs-5">
					<i class="fa fa-phone"></i> Phone: +871 787 6247
				</p>
			</div>
		</div>
		<hr>
		<p class="mb-0 text-white fs-5 ">&copy; 2025 Smart Contact
			Manager. All rights reserved.</p>
	</div>
</footer>
